@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

:root {
	--primary-light: #e2e8f0;
  --primary-dark: #0f172a;
  --secondary-dark: #1e293b;
}

body {
  background-image: linear-gradient(
    to bottom,
    #1e293b,
    #1b2538,
    #182234,
    #161e31,
    #131b2e,
    #11192a,
    #0f1727,
    #0d1423,
    #0b111d,
    #080e18,
    #050a12,
    #030509,
    #131E38,
    #20DC49,
    #D93F21

  );
}

/* ADMIN SECTION STYLES */

.admin-panel-container{
  border-radius: 1px;
  background: #0f172a;
  box-shadow: -6px 6px 12px #0d1425, 6px -6px 12px #111a2f;
  color: var(--primary-light);
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.33);
  
}

.admin-info-block{
  background-color: #182134;
}

.admin-menu-block, .admin-aside-col{
  background-color: #192334;
}

.admin-content-col{
  background-color: #212C3D;
}
.games-header-block{
  border-bottom: 1px solid white;
}

.modal-dialog-centered .modal-content{
  background-color: #192334;
}






